.offers {
  &__title {
    color: var(--ion-color-primary);
    font-size: 1.125rem;
    padding: 0.5rem;
    border: 1px solid var(--ion-color-primary);
    border-radius: 0.3125rem;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
  }
}
